 body{
     color: #333333;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     max-width: 650px;
     margin: 0 auto;
     padding: 0 2rem;
 }
footer{
     background-color: #f2f2f2;
    padding: 20px;
    margin-top: 10px;
}
header{
    display: flex;
    justify-content: space-around;
}
header li{
    list-style: none;
    text-decoration: none;
}
header li a{
    text-decoration: none;
    padding: 10px;
    opacity: .7;
}
h1{
    font-size: 4rem;
}