<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/style.css">

</head>
<body>
    <h1> {{title}} </h1>
     {{>header}}
     {{>footer}}
         <form></form>
         
         
<script src="./js/app.js"></script>

</body>

</html>