<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/style.css">

</head>
<body>
    <h1> {{title}} </h1>
     {{>header}}


 <form>
<input type="text" placeholder="location">
<button type="submit">search</button>
</form>
<p class="message-1"></p>
<p class="message-2"></p>
         
<script src="./js/app.js"></script>
     {{>footer}}

</body>

</html>