<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/style.css">

    
</head>
<body>
    <h1> this is dynamic {{title}} </h1>
     {{>header}}
     {{>footer}}
</body>

</html>